{% extends "layout.html" %}
{% block body %}




<p class="lead bg-warning"> <b>Welcome to Ample International

</b>
<br/>
<br/>
Commence on 2009 A.D, Ample International Education is fully accredited company registered at England and Wales and recognized by the Government of Nepal with a mission to impart its best quality counselling service for abroad study for better performance of Nepali student in the foreign land for global education.
<br/>
"A Complete way for Global Education for Global Competition", with the vary motto Ample International Education offers quality counselling and guiding them to secure the perfect future of student. "Success of our student is our Commitment."
<br/>
Ample is located at the heart United kingdom, London, and Branch offices at Dillibazar Kathmandu, Nepal and Canada assuming the focal point for student for counselling for foreign country and pathway for opportunity of high quality academic degree all around the world.
<br/>
Ample is the complete gateway for international education. Ample welcomes students who wish to study abroad on different countries all over the world. Counselling with ample expert counsellor can be the great experience on your personal as well as intellectual level. Our quality counselling surely aids you to compete in this era of globalisation where world is merged into a small village called 'global village' and we proudly note you that we can be the best guide to roam the global village with better career.
<br/>

It's you to dream for global education and you will find the ample that can make dream happen. 
</p>


{% endblock %}